# Node modules
node_modules/

# Environment variables
.env
.env.local

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native build output
android/
ios/
*.apk
*.aab
*.ipa

# Logs
*.log
npm-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
